.Item {
    box-sizing: border-box;
    display: inline-block;
    min-width: 20%;
    background-color: cornsilk;
    position: relative;
    transition: all .5s;
    max-width: 100%;
    padding-top: 2.7rem;
}

.ClosedItem {
    /* max-width: 33%; */
    overflow: hidden;
    max-height: 1px;
    background-color: transparent;
}

.ClosedItem:hover {
    max-height: 10rem;
}

.First {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
}

.Second {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
}

.Third {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
}

.Fourth {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
}

.FullItem {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transform: translateY(2.5rem);
    background-color: transparent;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    /* padding-top: 2rem; */
    /* grid-row: 1 / 6 !important;
    grid-column: 1 / 6 !important; */
    z-index: 100;
    /* min-width: 50%; */
    /* margin: auto; */
    /* transform: scaleX(1.5) scaleY(3); */
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    /* left: 33%; */
    /* right: 0; */
    /* top: 0; */
    /* max-width: 60%; */
    /* max-height: 100%; */
    /* position: absolute; */
    /* top: 25%;
    left: 25%;
    right: 25%; */
}

/* .FullItem span, .FullItem hr {
    font-size: 2rem;
} */

/*
.First {
    /* margin-top: 1rem;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.Second {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
}

.Third {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
}

.Fourth {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
} */

@media screen and (min-width: 600px) {
    .First {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
    }
    .Second {
        grid-row: 3 / 4;
        grid-column: 2 / 5;
    }
    .Third {
        grid-row: 4 / 5;
        grid-column: 2 / 5;
    }
    .Fourth {
        grid-row: 5 / 6;
        grid-column: 2 / 5;
    }
    .FullItem {
        grid-row: 1 / 6;
        grid-column: 2 / 5;
    }
}