.Item {
    box-sizing: border-box;
    display: inline-block;
    min-width: 20%;
    /* padding: 1rem; */
    background-color: cornsilk;
    /* margin: 1rem; */
    position: relative;
    transition: all .5s;
    max-width: 100%;
    padding-top: 2.7rem;
}

.ClosedItem {
    /* max-width: 33%; */
    overflow: hidden;
    max-height: 1px;
    background-color: transparent;
}

.ClosedItem:hover {
    max-height: 10rem;
}

.FullItem {
    background-color: transparent;
    /* padding-top: 2rem; */
    grid-row: 2 / 5 !important;
    grid-column: 2 / 5 !important;
    z-index: 100;
    min-width: 100%;
    /* max-width: 60%; */
    /* max-height: 100%; */
    /* position: absolute; */
    /* top: 25%;
    left: 25%;
    right: 25%; */
    /* align-self: center; */
    /* justify-self: center; 
    margin: 0 20%; */
}

.First {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.Second {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.Third {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}