.Label {
    font-family: 'Lobster';
    text-align: center;
    font-weight: 700;
    padding: .5rem;
    position: absolute;
    /* top: -10%; */
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    font-size: 1.5rem;
    /* top: -1rem; */
    margin-left: auto; 
    margin-right: auto; 
    width: 10rem; /* Need a specific value to work */
}

.Active {
    color: orange;
    background-color: transparent;
}