.Label {
    transition: color 1s, opacity .1s; 
    background-color: transparent; /* This is so the label doesn't change color */
    min-width: 100%;
    font-family: 'Lobster';
    text-align: center;
    font-weight: 700;
    padding: .5rem;
    position: absolute;
    /* top: -10%; */
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    font-size: 1.5rem;
    margin-left: auto; 
    margin-right: auto;
  
}

.Label hr {
    max-width: 100%;
    margin: auto;
}
.Invisible {
    opacity: 0;
}

/* Styles for label when associated portfolioitem has been selected d*/
.Active {
    pointer-events: none;
    z-index: 30;
    color: orange;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 900;
    transform: translateY(-3.3rem);
    /* This is to override the class that makes opacity 0, as it is applied to all elements, including those which are active. A sign that I should refactor later. */
    opacity: 1 !important;
   max-width: 100%;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 950px) {
    /* .Active {
        max-width: 50%;
    } */
    .Label {
        width: 75%;
    }
}