:root {
    --modal-bg-col: rgba(245, 255, 250, 1);
}

* {
    margin: 0;
}

.PageModal {
    /* width: 75% !important; */
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
    background-color: var(--modal-bg-col);
    border-radius: .5rem;
    box-shadow: 1rem 2rem 5px 1px rgba(3, 3, 3, .5);
    align-items: flex-start;
    padding-right: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
}

.splash {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.text {
    font-family: lato;
}

.about {
width: 100%;
height: 100%;
overflow-y: scroll;
}

.scrollbarHider {
    grid-row: 2 / 11;
    grid-column: 2 / 11;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: -.5rem .5rem rgba(3, 3, 3, .5);
}

.portfolio {
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    /* justify-content: space-evenly; */
    /* overflow: auto; */
}

@media screen and (min-width: 600px) {
    .scrollbarHider {
        grid-row: 2 / 10;
    }
}

@media screen and (min-width: 1000px) {
    .scrollbarHider {
        grid-column: 3 / 10;
    }
}

/* @media screen and (min-width: 450px) {
    .scrollbarHider {
        grid-column: 2 / 11;
        grid-row: 2 / 11;
    }
} */