.NavTray {
    transition: all .5s;
    padding: 3rem 5rem;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row-reverse;
    z-index: 50;
    margin-right: 5rem;
}

.closed {
    transform: translateY(-20rem);
}