.GridWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.Greeting {
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
}

.firstBanner {
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 60%);
    background-color: lightblue;
    grid-row: 1 / 4;
    grid-column: 1 / -1;
}

.secondBanner {
    clip-path: polygon(0% 40%, 100% 30%, 100% 100%, 0% 100%);
    z-index: -1;
    background-color: orange;
    grid-row: 3 / 6;
    grid-column: 1 / -1;
}

/* .FlexWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
} */

@media screen and (min-width: 950px) {
    .GridWrapper {
        /* grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr); */
    }
}