.avatar {
    display: block;
    transition: color .25s;
    font-size: 5rem;
    min-height: 8.5rem;
    /* position: absolute;
    left: 0;
    top: -16rem; */
    /* transform: translateY(-100%) */
}

.typing {
    color: cornflowerblue;
}

@media (min-width: 425px) {
    .avatar {
        font-size: 5rem;
    }
}

@media (min-width: 450px) {
    .avatar {
        font-size: 6rem;
    }
}

@media (min-width: 600px) {
    .avatar {
        min-height: 9.5rem;
    }
}