.Card {
    font-family: 'Helvetica';
    padding: 1rem 2rem;
    /* background-color: rgba(149, 162, 177, 0.616); */
    background-color: rgba(245,255,250,.84);
    text-align: center;
    border-radius: 5px;
    height: 100%;
}