.IntroModal {
    transition: transform .5s ease-out;
    text-align: center;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.modalSlide {
}

.offscreenLeft {
    transform: translateX(-100vw);
}

.offscreenRight {
    transform: translateX(100vw);
}

.onscreen {
    transform: translateX(0);
}

.invisible {
    opacity: 0;
}