:root {
    --link-bg-col: rgba(135, 171, 238, 0.658);
    --link-border-col: rgba(245, 255, 250, 1);
    --modal-bg-col: rgba(245, 255, 250, 1);
    --link-text-col: cornflowerblue;
    --type-col-1: cornflowerblue;
    --type-col-2: rgba(143, 5, 143, 0.61);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.greeting {
    animation-duration: 2s;
    animation-name: slide-in-to-right;
}

.fontCol1 {
    color: var(--type-col-1);
}

.fontCol2 {
    color: var(--type-col-2);
}

.period {}

.sage {
    color: var(--type-col-2)
}

@keyframes slide-in-to-right {
    from {
        transform: translateX(-30rem) rotate(45deg);
    }
    to {
        transform: translateX(0) rotate(0);
    }
}

.Hide {
    transform: translate(-100rem) !important
}

.Avatar {
    margin: 1rem 0 0 1rem;
}

.Link {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: .5rem outset var(--link-bg-col);
    background-color: var(--modal-bg-col);
    transition: all .5s;
    color: var(--link-text-col);
}

.Link:hover {
    transform: translateY(-1rem);
    box-shadow: 1rem 2rem 5px 1px rgba(3, 3, 3, .5);
}

.Link:hover:active {
    transform: translateY(0);
    box-shadow: .5rem 1rem 2px 1px rgba(3, 3, 3, .9);
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.flexContainer a {
    text-decoration: none;
}

.textModal {
    transition: all 1s;
    display: inline-block;
    margin: .5rem 0rem;
}

.textModal:last-child {
    width: 100%;
}

.ToCenter {
    text-align: center;
    align-self: center;
}

.wrapper {
    grid-row: 1 / 12;
    grid-column: 2 / 11;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.ToLeft {
    text-align: left;
    transform: translateX(1.5rem);
    align-self: left;
}

/* .ToLeft:hover {
        transform: translateY(-1.5rem) translateX(1.5rem);
        z-index: 20;
        box-shadow: 1rem 2rem 5px 1px rgba(3, 3, 3, .5);
} */

.ToRight {
    /* position: relative; */
    text-align: center;
    align-self: flex-end;
    transform: translateX(-1.5rem);
    display: flex;
    justify-content: flex-end;
}

.ToRight>div {
    /* position: absolute; */
    /* right: 20%; */
}

/* .ToRight:hover {
    transform: translateY(-1.5rem) translateX(-1.5rem);
    z-index: 20;
    box-shadow: 1rem 2rem 5px 1px rgba(3, 3, 3, .5);
} */

.spaceFromTop {
    margin-top: 10rem;
}

.SpaceFromBottom {
    /* margin-bottom: 20rem; */
}

@media (min-width: 600px) {
    .flexContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1100px) {
    .textModal:nth-child(1), .textModal:nth-child(2) {
        width: 90%;
    }

    .Hide {
        transform: translate(-200rem) !important
    }
}

@media (max-width: 360px) {
    
    .Link {
        padding: .5rem 1rem;
    }

    .textModal {
        margin: .75rem 0rem;
        
    }

    .textModal p {
        font-size: 1.6rem;
    }

    .textModal h3 {
        font-size: 1.75rem;
    }

    .flexContainer div {
        font-size: 1.75rem;
    }
}