* {
    box-sizing: border-box;
    margin: 0;
}

.greeting {
    animation-duration: 2s;
    animation-name: slide-in-to-right;
}

.period {}

.sage {}

@keyframes slide-in-to-right {
    from {
        transform: translateX(-30rem) rotate(45deg);

    }

    to {
        transform: translateX(0) rotate(0);
    }
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
}